@import url('./theme.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eceef3;
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.application-container {
    width: 90vw;
    height: fit-content;
    background: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    position: relative;
}

.application-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 25px;
}

.application-header-left {
    display: flex;
    gap: 20px;
}

#application-logo {
    width: 140px;
}

.school-name {
    font-size: 24px;
    font-weight: bold;
}

.school-address {
    font-size: 16px;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-section img {
    width: 140px;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 8px;
}

#change-photo {
    background: var(--color-primary);
    color: #fff;
    border: none;
    padding: 7px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
}

.application-section {
    margin-bottom: 35px;
}

.application-section h2 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 10px;
    border-bottom: 2px solid #444;
    padding-bottom: 5px;
}

.input-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 15px;
}

.input-row input,
.input-row select {
    flex: 1 1 300px;
    padding: 12px;
    border: 1.5px solid #bbb;
    border-radius: 6px;
    font-size: 0.95rem;
}

.input-row input[type="file"] {
    flex: 1 1 400px;
}

button.button {
    background: var(--color-primary);
    color: #fff;
    padding: 12px 26px;
    border: none;
    width: 200px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    display: block;
    margin: 0 auto;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}

@media (max-width: 768px) {

    .cv-container {
        padding: 20px;
    }

    #application-logo {
        width: 110px;
    }

    .profile-section img {
        width: 100px;
    }

    .input-row input,
    .input-row select {
        flex: 1 1 100%;
    }

    .cv-header {
        flex-direction: column;
        gap: 25px;
    }
}