@import url("./theme.css");

html,
body {
    font-family: "League Spartan", sans-serif;
    overflow-x: hidden;
}

* {
    margin: 0;
    /* color: white;  */
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

body {
    height: 100vh;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: brightness(20%);
}

nav {
    top: 0;
    left: 0;
    display: grid;
    padding: 20px;
    box-sizing: content-box;
    height: fit-content;
    grid-template-columns: 1fr auto;
}

main {
    width: 100%;
    padding: 20px;
}

footer {
    bottom: 0;
    background-color: var(--color-gray-dark);
    height: fit-content;
    padding: 50px;
}

.button {
    background-color: none;
    border-radius: 100px;
    padding: 1rem;
    text-decoration: none;
    box-sizing: border-box;
    width: 175px;
}

.filled {
    background-color: white;
    color: var(--color-primary);
    text-align: center;
}

.unfilled {
    background-color: none;
    border: 2px solid white;
    color: white;
}

button {
    width: 200px;
    color: black;
}

a {
    transition: scale .1s ease;
}

.scalable:hover {
    cursor: pointer;
    scale: 1.1;
}

.footer-logo {
    width: 50px;
}

.footer-text {
    position: fixed;
    bottom: 10px;
    right: 10px;
    margin: 0;
    padding: 5px 10px;
    background: rgb(85, 85, 85);
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.footer-group-icon {
    width: 16px;
    height: 16px;
}


.footer-head {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Banners */
.banner {
    width: 100vw;
    height: 30px;
    background-color: white;
    color: black;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.red {
     background-color: var(--color-primary);
     color: white;
     font-weight: bolder;
}

.white {
    color: white
}