@import url("./theme.css");

body>img {
    width: 10px;
    height: 10px;
}

.container {
    display: flex;
    height: 100vh;
}

#go-back {
    color: var(--color-primary);
    text-decoration: none;
}

.left-panel {
    flex: 1;
    background:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        radial-gradient(circle, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.7) 100%),
        url('../assets/bgimg2.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#tup {
    background-color: var(--color-primary);
    padding: 0 4px;
}

.left-panel h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.left-panel h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.left-panel p {
    font-size: 16px;
    max-width: 400px;
}

.footer-text {
    margin-top: auto;
    font-size: 14px;
    opacity: 0.8;
}

.right-panel {
    flex: 1;
    background-color: white;
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.right-panel h2 {
    font-size: 28px;
    color: var(--color-primary);
}

.welcome-text {
    font-size: 14px;
    color: #555;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    position: relative;
    display: flex;
}

.input-field {
    height: 48px;
    width: 100%;
    padding-inline: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: all 0.3s ease;
}

#password {
    padding-right: 40px;
}

.floating-label {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    background-color: none;
    color: #aaa;
    padding-inline: 6px;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-field:focus~.floating-label,
.input-field:not(:placeholder-shown)~.floating-label {
    top: 0;
    font-size: 12px;
    color: black;
}

.input-field:focus {
    border-color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

.mail-icon,
.eye-icon {
    position: absolute;
    right: 15px;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.remember {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="checkbox"] {
    accent-color: var(--color-primary);
    cursor: pointer;
}

.remember>label {
    color: grey;
}

.button-holder {
    display: flex;
    gap: 20px;
}

.button-holder>a {
    text-decoration: none;
    text-align: center;
}

.register-btn {
    background-color: none;
    border: 2px solid var(--color-gray-light);
    color: var(--color-primary-dark)
}

.btn {
    width: 100%;
    height: 50px;
    background-color: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.login-btn {
    color: white;
    background-color: var(--color-primary);
    border: none;
}

.login-btn:hover {
    background-color: var(--color-primary-dark);
}

.options {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.options a {
    color: var(--color-primary);
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}

@media (max-width: 992px) {
    .container {
        flex-direction: column;
    }

    .left-panel {
        height: 40vh;
        padding: 40px;
        text-align: center;
        justify-content: center;
        display: none;
    }

    .right-panel {
        height: 60vh;
        padding: 40px 30px;
    }
}

@media (max-width: 600px) {
    .left-panel h1 {
        font-size: 28px;
    }

    .right-panel h2 {
        font-size: 22px;
    }

    .input-field {
        height: 44px;
    }
}