:root {
    --color-primary: #C51834;
    --color-primary-light: #E24A63;
    --color-primary-dark: #990F26;

    --color-white: #FFFFFF;
    --color-black: #000000;

    --color-gray-light: #F5F5F5;
    --color-gray-dark: #1A1A1A;
}