@import url("./theme.css");

body {
    background: #eceef3;
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.container,
main {
    width: 90vw;
    height: fit-content;
    background: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    position: relative;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.label {
    font-size: 25;
}

.user-info {
    display: flex;
    gap: 20px;
}

#pfp {
    width: 150px;
    background-color: var(--color-primary-dark);
    border: 3px solid var(--color-primary-light);
    border-radius: 100px;
}

.calendar-view {
    width: calc(min-content + 00px);
    margin: auto;
    /* max-width: auto; */
    height: fit-content;
}

.calendar-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  background: #fff;
}
