@import url('../theme.css');

fieldset {
    background-color: white;
    border: 2px solid var(--color-gray-light);
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    padding: 50px;
    /* filter: drop-shadow(0px 0px 5px); */
}

legend {
    background-color: white;
    padding: 0px 20px;
    border-radius: 5px;
    transform: translate(-2rem, 0rem);
}

input {
    accent-color: blue;
    color: black;
}

input[type="text"] {
    border: none;
    outline: none;
    border-bottom: 2px solid grey;
    padding: 10px;
    color: black;
    /* background-color: rgb(194, 194, 194); */
}

input[type="email"] {
    border: none;
    outline: none;
    border-bottom: 2px solid grey;
    padding: 10px;
    color: black;
    /* background-color: rgb(194, 194, 194); */
}

input[type="tel"] {
    border: none;
    outline: none;
    border-bottom: 2px solid grey;
    padding: 10px;
    color: black;
    /* background-color: rgb(194, 194, 194); */
}

label {
    color: black;
}

select {
    border: none;
    outline: none;
    border-bottom: 2px solid grey;
    padding: 10px;
    color: black;
    /* background-color: rgb(194, 194, 194); */
}

input[type="password"] {
    border: none;
    outline: none;
    border-bottom: 2px solid grey;
    padding: 10px;
    color: black;
    /* background-color: rgb(194, 194, 194); */
}

input[type="date"] {
    border: none;
    outline: none;
    border-bottom: 2px solid grey;
    padding: 10px;
    color: black;
    /* background-color: rgb(194, 194, 194); */
}