body {
    display: flex;
    justify-content: center;

    height: 100%;
    width: 100%;
}

body>img {
    position: fixed;
    z-index: -1;

    filter: brightness(60%) blur(5px);
}

.login-register {
    width: 50%;
    background-color: black;
    z-index: 10;
}

.main {
    padding-top: 60px;
    width: 100%;
    height: 100%;
}

.panel {
    background-color: white;
    width: 50%;
    height: 100%;
    position: fixed;

    left: 0;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
}