:root {
    /* Light */
    --bg-color: #f9f9f9;
    --text-color: #303030;
    --nav-color: #C51834;

    /* COLORS */
    --color-primary: #C51834;
    --color-primary-light: #E24A63;
    --color-primary-dark: #990F26;

    --color-white: #FFFFFF;
    --color-black: #000000;

    --color-gray-light: #F5F5F5;
    --color-gray-dark: #1A1A1A;

    /* Theme Colors (Default: Light Theme) */
    --bg-color: var(--color-white);
    --text-color: var(--color-black);
    --card-bg: var(--color-gray-light);
    --card-text: var(--color-black);
    --button-bg: var(--color-primary);
    --button-text: var(--color-white);
    --button-hover: var(--color-primary-dark);
}

[data-theme="dark"] {
    /* TODO */
}